.CoursePanel {
    border: 3px solid rgb(231, 234, 239);
    border-radius: 1.25rem;
    padding: 1rem;
    margin: 20px;
}

.nameAndButtons {
    display: flex;
    align-items: center;
}

.courseName {
    /*font-size: 20px;*/
    /*font-weight: 700;*/
    flex: 1 1 2rem;
}

.learnButton {
    /*font-weight: 700;*/
    /*font-size: 30px;*/
    /*display: inline;*/
}
